*,
*::before,
*::after {
  box-sizing: border-box;
  
}

@font-face {
    font-family: 'TT Lakes Thin';
    src: url('TTLakes-Thin.eot');
    src: url('TTLakes-Thin.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Thin.woff') format('woff'),
    url('TTLakes-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    
body {
    margin: 0px;
    font-family: "TT Lakes Thin", sans-serif;
}

h1 {
  margin: 0px;
}

p {
  margin: 0;
}

.main__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.main__nav-link {
  color: inherit;
  text-decoration: none;
  background: transparent;
  cursor: pointer;

}